.header-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.header {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.header__between {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px;
  max-width: 1200px;
}

.amount-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  line-height: 24px;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  background-color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  border: 1px solid white;
  padding: 10px;
  border-radius: 16px;
  min-width: 350px;
  max-width: 450px;
  z-index: 2000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.text-label {
  color: 666666;
  font-size: 12px;
  margin: 20px 0px 20px 0px;
  color: black;
}

.currency-symbol {
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: black;
}

.clear-button {
  position: absolute;
  right: 10px;
  font-size: 12px;
  cursor: pointer;
  color: black
}

.input-content {
  min-height: 40px;
  width: 100%;
  outline-color: #438883;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 10px;
  color: black;
}

.input-content-amount {
  min-height: 40px;
  width: 100%;
  outline-color: #438883;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 10px 40px;
  color: black;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  color: black;
}

.input-content:focus,
.input-content-amount:focus,
.input-wrapper:focus,
.currency-symbol:focus,
.clear-button:hover {
  color: #438883;
}

.radio-label {
  display: flex;
  align-items: center;
}

.radio-input {
  width: 12px; /* Adjust size as needed */
  height: 12px; /* Adjust size as needed */
  margin-right: 0px; /* Space between radio and label text */
}

.radio-input:focus {
  outline: #3e7c78; /* Optional: remove focus outline for cleaner look */
}

.option-type {
  font-size: 14px;
  font-weight: 300;
}

.ml-2 {
  margin-left: 20px;
}

.btn-submit {
  cursor: pointer;
  font-weight: bold;
  margin: 30px 0px 30px 0px;
  padding: 8px 5px 8px 5px;
  text-align: center;
  color: white;
  border: 1px solid transparent;
  background-color: #3e7c78;
  border-radius: 16px;

  box-shadow: #3e7c78 0px 2px 6px;
}

/* Disabled button reusing the same styles */
.btn-submit:disabled, .btn-disabled {
  background-color: grey;
  cursor: not-allowed;
  box-shadow: none; /* Optional: remove the shadow for the disabled state */
}

.btn-submit:hover {
  transform: scale(1.03);
}

:host ::ng-deep .custom-toast {
  width: 55vh; /* Adjust width as needed */
}

:host ::ng-deep .p-toast-message {
  padding: 0px 20px !important; /* Apply padding to the message */
  border-radius: 8px !important; /* Add rounded corners */
}

.modal-overlay {
  position: fixed; /* Ensure it stays on top */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dim background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it stays on top */
}

.modal-overlay div {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  text-align: center;
  z-index: 10000; /* Higher than overlay */
}

.btn-confirm, .btn-cancel {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-confirm:hover, .btn-cancel:hover {
  transform: scale(1.03);
}

.btn-confirm {
  background-color: #dc3545;
  font-weight: 600;
  color: white;
}

.btn-cancel {
  background-color: grey;
  font-weight: 600;
  color: white;
}

.hidden {
  display: none !important;
}
