.header-container {
  background-color: #438883;
  padding: 15px;
  height: 25vh;
  position: relative;
}

.header__between {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding: 10px;
}

.text-white {
  color: white;
  font-weight: 500;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.content-container {
  display: flex;
  line-height: 24px;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  background-color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 16px 16px 0px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 100;
}

.tabs-container {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 5px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.tab.active {
  background-color: white;
  font-weight: 500;
}

.connection-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 45vh; /* Set the height to 50% of the viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  width: 100%; /* Ensure it takes full width */
}

.option-item {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 12px;
  cursor: pointer;
}

.option-item.selected {
  background-color: #e8f5f2;
  border: 1px solid #438883;
}

.option-icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.bank-icon {
  background-color: #e8f5f2;
}

.microdeposit-icon {
  background-color: #f2f2f2;
}

.paypal-icon {
  background-color: #f2f2f2;
}

.option-details {
  flex: 1;
}

.option-title {
  font-weight: 500;
  margin-bottom: 5px;
}

.option-description {
  font-size: 14px;
  color: #666;
}

.option-checkmark {
  color: #438883;
}

.btn-next {
  background-color: #438883;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 25px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .connection-options {
    height: 39vh;
  }
}
