<app-page-layout>
  <!-- <div class="container my-3"> -->
  <!-- <app-progress-bar *ngIf="storeService.isLoading()"></app-progress-bar>

  <ng-container *ngIf="!storeService.isLoading()"> -->
  <!-- <p-toast
        position="top-center"
        showTransformOptions="translateY(-50%)"
        styleClass="custom-toast"
      /> -->

  <div class="header-container">
    <div class="header__between">
      <div>
        <h4 class="text-white">Change Wallet</h4>
      </div>
    </div>
  </div>

  <div class="content-container">
    <!-- <div class="tabs-container">
        <div
          class="tab"
          [ngClass]="{ active: activeTab === 'cards' }"
          (click)="setActiveTab('cards')"
        >
          Cards
        </div>
        <div
          class="tab"
          [ngClass]="{ active: activeTab === 'accounts' }"
          (click)="setActiveTab('accounts')"
        >
          Accounts
        </div>
      </div> -->

    <div class="connection-options">
      <div
        *ngFor="let option of options"
        class="option-item"
        [class.selected]="selectedOption === option.id"
        (click)="selectOption(option.id)"
      >
        <div class="option-icon {{ option.id }}-icon">
          <img [src]="getIconSrc(option.id)" [alt]="option.id" />
        </div>
        <div class="option-details">
          <div class="option-title">{{ option.title }}</div>
          <div class="option-description">
            {{ option.description }}
          </div>
        </div>
        <div class="option-checkmark" *ngIf="selectedOption === option.id">
          <img
            src="../../../assets/img/project/navigation/checkmark.png"
            alt="selected"
          />
        </div>
      </div>
    </div>

    <button (click)="submitChangeWallet()" class="btn-next">
      <span *ngIf="loading">
        <span class="h-10"
          ><img src="../../../assets/img/favicon/beatloader.svg"
        /></span>
      </span>
      <span class="my-3" *ngIf="!loading">Change Wallet</span>
    </button>
  </div>
  <!-- </ng-container> -->
  <!-- </div> -->
</app-page-layout>
