<app-page-layout>
  <p-toast
    position="top-center"
    showTransformOptions="translateY(-50%)"
    styleClass="custom-toast"
  />
  
  <div class="profile-container">
    <!-- Header Section -->
    <div class="header-container">
      <img
        class="header"
        src="../../../assets/img/project/header-bg.png"
        alt="bg-header"
      />
      <div class="header__between">
        <div>
        </div>
        <div>
          <h4 class="text-white">Profile</h4>
        </div>
        <div
          class="dot-button"
          [ngClass]="{ clicked: isAnimating }"
          (animationend)="isAnimating = false"
          (click)="logout()"
        >
          <img width="20" src="../../../assets/img/project/logout.svg" alt="Logout Icon" />
        </div>
      </div>
    </div>

    <!-- Profile Info Section -->
    <div class="profile-info-section">
      <div class="profile-avatar">
        <img src="../../../assets/img/project/guest-user-image.png" alt="Profile Avatar" />
      </div>
      <h3 class="profile-name">{{ userProfile?.fullname }}</h3>
      <p class="profile-username">{{ userProfile?.username }}</p>
    </div>

    <!-- Menu Options Section -->
     <!-- (click)="navigateToPage(menuItem.route)" -->
    <div class="menu-options">
      <div 
        class="menu-item" 
        *ngFor="let menuItem of menuItems" 
      >
        <div class="menu-icon">
          <img [src]="menuItem.icon" [alt]="menuItem.title" />
        </div>
        <span class="menu-text">{{ menuItem.title }}</span>
      </div>
    </div>
  </div>
</app-page-layout>