:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

/* Force light mode styles */
html, body {
  touch-action: manipulation;
  background-color: white !important;
  color: black !important;
}

/* Prevent dark mode overrides */
@media (prefers-color-scheme: dark) {
  body {
    background-color: white !important;
    color: black !important;
  }
}

.scrollable-container {
  // height: 100vh;
  display: block;
  .layout {
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    padding: 0;
    margin: auto;
    max-width: 500px;
    // background-color: #29756f;
  }
}
