<div
  *ngIf="isModalOpen && queryId"
  (click)="closeModal()"
  class="modal-overlay"
>
  <div (click)="$event.stopPropagation()">
    <h4>Delete Transaction</h4>
    <p class="my-4">Are you sure you want to delete this transaction?</p>
    <button
      [disabled]="isSubmitted"
      class="btn-confirm"
      (click)="confirmTransaction()"
    >
      Delete
    </button>
    <button [disabled]="isSubmitted" class="btn-cancel" (click)="closeModal()">
      Cancel
    </button>
  </div>
</div>
