<!-- NOTE Navbar -->
<div class="nav-container" *ngIf="isShowed()">
  <div *ngFor="let item of navItems"> <!-- Corrected 'of' instead of 'from' -->
    <img 
      [src]="isActive(item) ? ngOnActive(item).src : item.src" 
      [alt]="item.alt" 
      (click)="navigateTo(item.alt)" 
      style="cursor: pointer;" 
    />
  </div>
</div>

<div class="nav-add-activity-btn" *ngIf="isActive({ alt: 'home' })" (click)="navigateTo('home/transactions')" >
  <img
    src="../../../../../assets/img/project/navigation/add-btn.png" 
    alt="add-activity"
    style="cursor: pointer;"  
  />
</div>
<!-- NOTE Content -->
<ng-content></ng-content>
