<!-- NOTE Navbar -->
<div class="nav-container" *ngIf="isShowed()">
  <div *ngFor="let item of navItems"> <!-- Corrected 'of' instead of 'from' -->
    <img 
      [src]="isActive(item) ? ngOnActive(item).src : item.src" 
      [alt]="item.alt" 
      (click)="navigateTo(item.alt)" 
      style="cursor: pointer;" 
    />
  </div>
</div>

<div class="nav-add-activity-btn" *ngIf="showFloatingAdd()" (click)="toggleAddMenu($event)">
  <img
    src="../../../../../assets/img/project/navigation/add-btn.svg"
    alt="add-activity"
    style="cursor: pointer;"
  />
</div>

<div
  class="add-menu-backdrop"
  *ngIf="addMenuOpen"
  (click)="closeAddMenu()"
  aria-hidden="true"
></div>
<div class="add-menu-panel" *ngIf="addMenuOpen" (click)="$event.stopPropagation()">
  <button type="button" class="add-menu-item" (click)="goManual()">Manual input</button>
  <button type="button" class="add-menu-item" (click)="goReceiptScan()">Scan receipt</button>
</div>
<!-- NOTE Content -->
<ng-content></ng-content>
