.header-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 50px 0px 50px 0px;
}

.header {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.header-between {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px 0px;
  max-width: 1200px;
}

.header-center {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 0px 0px;
  max-width: 500px;
  overflow: hidden;
}

.header-end {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 20px 0px 0px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  max-width: 100%;
  height: auto;
  margin-top: 50px;
}

.transactions-wrapper {
  height: 38vh;
  /* Set the height to 50% of the viewport height */
  overflow-y: auto;
  /* Enable vertical scrolling */
  width: 100%;
  /* Ensure it takes full width */
}

.transactions-desc-container,
.transactions-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.transactions-container:hover {
  background-color: #29756f;
  margin: 0px 5px;
  color: white;
  border-radius: 16px;
  cursor: pointer;
}

.transactions-container:hover h4 {
  color: white !important;
}

.transactions-all {
  font-weight: 600;
  gap: 20px;
  font-size: 18px;

  h4 {
    font-size: 18px;
  }

  .transactions-text {
    h5 {
      font-size: 16px;
    }

    h6 {
      font-size: 13px;
      font-weight: 300;
    }
  }
}

.text-danger {
  color: red;
  font-size: 18px;
}

.text-success {
  color: green;
  font-size: 18px;
}

.mt-20 {
  margin-top: 2%;
}

.font-weight-400 {
  font-weight: 400;
}

.sort-button {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.sort-button:active {
  transform: scale(0.8); /* Button shrinks slightly when clicked */
}

@media (max-width: 768px) {
  .transactions-wrapper {
    height: 30vh;
    /* Set the height to 40% of the viewport height */
  }

  .container-income-outcome {
    margin: 10px 0;
  }

  .transactions-all {
    h4 {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .transactions-wrapper {
    height: 30vh;
    /* Set the height to 40% of the viewport height */
  }

  .header__between {
    width: 95%;
  }

  .container-income-outcome h5 {
    font-size: 1rem;
  }
}

::ng-deep .p-dropdown-panel .p-dropdown-items {
  padding: 0 !important;
}

::ng-deep .p-dropdown-item {
  // padding: 4px 8px !important; /* Adjust padding to remove extra space */
  margin: 0 !important;
  text-align: left !important;
}

::ng-deep .p-dropdown-item.p-highlight {
  background-color: lightgray !important; /* Light green for selected */
  color: #666666 !important;
}

::ng-deep .p-dropdown:hover {
  box-shadow: #666666 !important; /* Green shadow */
  border-color: #666666 !important; /* Optional: Green border */
}



