.header-container {
  position: relative;
  width: 100%;
  height: auto;
  margin: 40px 0;
  padding: 0 16px;
}

.header-between {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

.header-between img {
  width: 24px;
  height: 24px;
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 15px;
  max-width: 100%;
  flex-wrap: wrap;
}

.header-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 15px;
  flex-wrap: wrap;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

canvas {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.transactions-wrapper {
  height: 35vh;
  overflow-y: auto;
  width: 100%;
  padding: 0 10px;
}

.transactions-desc-container,
.transactions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.transactions-container {
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 12px;
}

.transactions-container:hover {
  background-color: #29756f;
  transform: scale(1.02);
  color: white;
}

.transactions-container:hover h4 {
  color: white !important;
}

.transactions-all {
  font-weight: 600;
  gap: 15px;
  font-size: 16px;

  h4 {
    font-size: 16px;
  }

  .transactions-text {
    h5 {
      font-size: 15px;
    }

    h6 {
      font-size: 13px;
      font-weight: 400;
    }
  }
}



.text-danger {
  color: red;
  font-size: 16px;
}

.text-success {
  color: green;
  font-size: 16px;
}

.sort-button {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.sort-button:active {
  transform: scale(0.85);
}

.mt-20 {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .transactions-wrapper {
    height: 30vh;
  }
}

@media (max-width: 768px) {
  .header-between {
    width: 100%;
    padding: 0 10px;
  }

  .transactions-wrapper {
    height: 28vh;
    padding: 0 5px;
  }

  .transactions-all {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .header-between {
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .transactions-wrapper {
    height: 25vh;
  }

  // .transactions-all {
  //   font-size: 16px;

  //   h4 {
  //     font-size: 16px;
  //   }
  // }
}

::ng-deep .p-dropdown-panel .p-dropdown-items {
  padding: 0 !important;
}

::ng-deep .p-dropdown-item {
  margin: 0 !important;
  text-align: left !important;
}

::ng-deep .p-dropdown-item.p-highlight {
  background-color: lightgray !important;
  color: #666666 !important;
}

::ng-deep .p-dropdown:hover {
  box-shadow: 0 2px 5px rgba(102, 102, 102, 0.3) !important;
  border-color: #666666 !important;
}
