<app-page-layout>
  <div>
    <app-progress-bar *ngIf="storeService.isLoading()"></app-progress-bar>

    <ng-container *ngIf="!storeService.isLoading()">
      <!-- Header Container -->
      <div class="header-container">
        <div (click)="returnHome()" class="header-between">
          <div class="cursor-pointer text-black">
            <img src="../../../assets/img/project/chevron-left-dark.png" />
          </div>
          <div>
            <h4>Statistics</h4>
          </div>
          <div class="cursor-pointer text-black">
            <img src="../../../assets/img/project/download-alt.png" />
          </div>
        </div>
      </div>

      <!-- TODO: UI-TIME-SPAN -->
      <!-- <div class="header-center">
        <p-selectButton
          [options]="stateOptions"
          [(ngModel)]="value"
          optionLabel="label"
          optionValue="value"
          class="custom-select-button"
        />
      </div> -->

      <div class="header-end">
        <p-dropdown
          [options]="options"
          [(ngModel)]="selectedOptions"
          optionLabel="name"
          placeholder="Choose Type"
          (onChange)="handleSetOptions($event)"
        />
      </div>

      <div class="canvas-container">
        <canvas #lineCanvas></canvas>
      </div>

      <div class="transactions-desc-container mt-20">
        <div class="transactions-all">Top Spending</div>
        <div class="transactions-see-all">
          <img src="../../../assets/img/project/bx-sort.png" />
        </div>
      </div>

      <div class="transactions-wrapper">
        <div
          *ngFor="let transaction of allTransactions"
          class="transactions-container"
        >
          <div class="transactions-all">
            <div class="transactions-text">
              <h5>{{ transaction.desc }}</h5>
              <h6>
                {{ moment(transaction.date, "DD-MM-YYYY").format("LLLL") }}
              </h6>
            </div>
          </div>
          <div class="transactions-all">
            <h4
              [ngClass]="{
                'text-danger': transaction.type === 'expense',
                'text-success': transaction.type === 'income'
              }"
            >
              {{ transaction.type === "expense" ? "-" : "+" }} Rp
              {{ getFormattedAmount(transaction.amount) }}
            </h4>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</app-page-layout>
